@import '../settings/global';

html, body {
  margin: 0;
  padding: 0;
}
html { font-size: 100% / 16 * $plasticss__rem__size; }
body {
  font: #{.1em * $global--font-size}/#{$global--line-height / $global--font-size} $global--font-family;
}