// Module options
$global__head--font-face:   'allerregular', 'aller_rg-webfont', 'allerregular'!default;
$global__head--font-family: nth($global__head--font-face, 1), $font-family--sans-serif!default;

// Include font-face if it corresponds to font-family
@if is-sameas(nth($global__head--font-face, 1), nth($global__head--font-family, 1)) {
  @include font-face($global__head--font-face...);
}

%group--base, h1, h2, h3, h4, h5, h6 {
  @include rem(margin, .1rem * nth($flow--margin-head, 1) * $flow--line-height 0 .1rem * nth($flow--margin-head, 2) * $flow--line-height);
  @include rem(margin, .2rem * $flow--line-height 0 0);
  line-height: 1.2;
  font-family: $global__head--font-family;
}
h1 { font-size: 1em / $flow--font-size * 36 }
h2 { font-size: 1em / $flow--font-size * 30 }
h3 { font-size: 1em / $flow--font-size * 24 }
h4 { font-size: 1em / $flow--font-size * 21 }
h5 { font-size: 1em / $flow--font-size * 18 }
h6 { font-size: 1em / $flow--font-size * 15 }