$color__page:     #FFF!default;
$color__text:     #333!default;
$color__neutral:  #888!default;
$color__disabled: #DDD!default;
$color__primary:  #4090D8!default;
$color__safe:     #40B870!default;
$color__risky:    #F8B030!default;
$color__fatal:    #E04048!default;
$color__tender:   #F07090!default;