@import 'font-family';

// Global > document and sections --------------------------- //
$global--font-size:   16!default;
$global--line-coef:   1.5!default;
$global--line-height: round($global--line-coef * $global--font-size / 2) * 2!default;
$global--font-family: $font-family--sans-serif!default;
$global__flow:        1!default;

// Global > Groups ------------------------------------------ //
$global__head--flow:          side($global__flow, top) * 2 side($global__flow, right)!default;
$global__head--font-face:     null!default;
$global__head--font-family:   if(is-relevant($global__head--font-face), nth($global__head--font-face, 1), null), $global--font-family!default;
$global__head--ease:          ease-in!default;
$global__head--min-coef:      1.125!default;
$global__head--max-coef:      2.25!default;
$global__head--min-font-size: $global--font-size * $global__head--min-coef!default;
$global__head--max-font-size: $global--font-size * $global__head--max-coef!default;